@{
    ViewBag.Title = "Pricing";
    ViewBag.Heading = "Pricing";
}

<div class="row">
    <div class="large-6 columns">
        <h4><img src="@Url.Content("~/Images/icons/Magnify.png")" alt="Evaluation" /> Free Evaluation Period</h4>
        <p>
            The evaluation period lets you use the Trailer PRO website without any
            limitations so that you can make an educated purchasing decision.
        </p>
        <ul class="smallPoint circle">
            <li>Full access for 30 days</li>
            <li>One hour of free training</li>
            <li>A temporary domain name</li>
            <li>Keep updates after purchase</li>
            <li>No oblication to purchase</li>
        </ul>
    </div>
    <div class="large-6 columns">
        <h4><img src="@Url.Content("~/Images/icons/License.png")" alt="License" /> Software License</h4>
        <p>
            After evaluating the website free of charge you may purchase a server license
            to preserve your updates and continue using the system.
        </p>
        <ul class="smallPoint circle">
            <li>$1500 one-time server license</li>
            <li>Pick a Support and Hosting Plan</li>
        </ul>

    </div>
</div>

<div class="row">
    <div class="large-10 large-centered columns">
        <table id="Pricing">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>
                        <span class="name">Basic</span>
                        <span class="dollars">Free</span>
                        <span class="cycle">Always!</span>
                    </th>
                    <th>
                        <span class="name">Bronze</span>
                        <span class="dollars">$19</span><span class="cents">99</span>
                        <span class="cycle">per month</span>
                    </th>
                    <th>
                        <span class="name">Silver</span>
                        <span class="dollars">$29</span><span class="cents">99</span>
                        <span class="cycle">per month</span>
                    </th>
                    <th class="highlight">
                        <span class="name">Gold</span>
                        <span class="dollars">$39</span><span class="cents">99</span>
                        <span class="cycle">per month</span>
                    </th>
                    <th>
                        <span class="name">Platinum</span>
                        <span class="dollars">$49</span><span class="cents">99</span>
                        <span class="cycle">per month</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <th data-tooltip class="has-tip" title="Download the software and instructions to install on your own. Web hosting experience is recommended.">Software & Instructions</th>
                    <td>✓</td>
                    <td>✓</td>
                    <td>✓</td>
                    <td class="highlight">✓</td>
                    <td>✓</td>
                </tr>
                <tr class="odd">
                    <th data-tooltip class="has-tip" title="We will log into your webserver and install the software for you.">Software Installation</th>
                    <td></td>
                    <td>✓</td>
                    <td>✓</td>
                    <td class="highlight">✓</td>
                    <td>✓</td>
                </tr>
                <tr class="even">
                    <th data-tooltip class="has-tip" title="These updates fix flaws in the software, they do not add any additional functionality.">Minor Version Updates</th>
                    <td></td>
                    <td>✓</td>
                    <td>✓</td>
                    <td class="highlight">✓</td>
                    <td>✓</td>
                </tr>
                <tr class="odd">
                    <th data-tooltip class="has-tip" title="Unlimited email support and up to one hour of phone support per month.">Email & Phone Support</th>
                    <td></td>
                    <td></td>
                    <td>✓</td>
                    <td class="highlight">✓</td>
                    <td>✓</td>
                </tr>
                <tr class="even">
                    <th data-tooltip class="has-tip" title="Upgrades add new features and improvements to your website.">Major Software Upgrades</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="highlight">✓</td>
                    <td>✓</td>
                </tr>
                <tr class="odd">
                    <th data-tooltip class="has-tip" title="We will install the software on our webservers">SBO Hosting</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="highlight"></td>
                    <td>✓</td>
                </tr>
                <tr class="even">
                    <th data-tooltip class="has-tip" title="Use up to 5 email accounts using your domain name">Email Accounts</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="highlight"></td>
                    <td>✓</td>
                </tr>
                <tr class="odd">
                    <th data-tooltip class="has-tip" title="We will make weekly backups so that your website can be recovered in case of unexpected disasters">Backup Service</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="highlight"></td>
                    <td>✓</td>
                </tr>
                <tr class="even">
                    <th></th>
                    <td><a class="tiny button">Learn More</a></td>
                    <td><a class="tiny button">Learn More</a></td>
                    <td><a class="tiny button">Learn More</a></td>
                    <td class="highlight"><a class="tiny button">Learn More</a></td>
                    <td><a class="tiny button">Learn More</a></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
