@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="large-4 large-centered columns">
        <h3>Phone</h3>
        <p>
            <strong>Main:</strong>
            406.461.9705
        </p>
        
        <h3>Email</h3>
        
        <p>
            <strong>Sales:</strong>
            <a href="mailto:sales@sboproducts.com">Sales</a>
        </p>
        
        <p>
            <strong>Support:</strong>
            <a href="mailto:support@sboproducts.com">Support</a>
        </p>
        
        <h3>Social Media</h3>
        <p>
            <strong>Twitter:</strong>
            <a href="https://twitter.com/SBOProducts">@@SBOProducts</a>
            
        </p>

        <p>
            <strong>Facebook:</strong>
            <a href="https://www.facebook.com/sboproducts">Facebook</a>
        </p>
        

    </div>
</div>