<h1>Small Business Online</h1>

<ul>
    <li>@Html.ActionLink("Register", "Register", "Account")</li>
    <li>@Html.ActionLink("Login", "Login", "Account")</li>
    <li>@Html.ActionLink("My Websites", "Index", "Home", new { area = "Website" }, null)</li>
</ul>