@{
    ViewBag.Title = "Index";
}

<h2>My Websites</h2>


<table>
    <tr>
        <th>Site Name</th>
        <th>Type</th>
        <th>Billing Cycle</th>
        <th>Next Payment Date</th>
    </tr>
    <tr>
        <td>@Html.ActionLink("Capital Trailer", "Index", "Home", new { area = "Website", customerId = "CapitalTrailer" }, null)</td>
        <td>Large Item Sales</td>
        <td>Annually</td>
        <td>2/15/2015</td>
    </tr>
</table>