<ul class="ExpandableMenu">
    <li>
        <a>Account Info</a>
        <ul>
            <li><a>Log Out</a></li>
            <li><a>Profile</a></li>
            <li><a>Websites</a></li>
            <li><a>Invoices</a></li>
        </ul>
    </li>
    <li>
        <a>Appearance</a>
        <ul>
            <li><a>Theme</a></li>
            <li><a>Colors</a></li>
        </ul>
    </li>
    <li>
        <a>Pages</a>
        <ul>
            <li><a>New Page</a></li>
            <li><a>All Pages</a></li>
        </ul>
    </li>
    <li>
        <a>Social</a>
    </li>
    <li>
        <a>Users</a>
        <ul>
            <li><a>All Users</a></li>
            <li><a>Invite</a></li>
            <li><a>My Profile</a></li>
        </ul>
    </li>
    <li><a>Media</a></li>
    <li>
        <a>Plugins</a>
        <ul>
            <li><a>Installed Plugins</a></li>
            <li><a>Search Plugins</a></li>
            <li><a>About Plugins</a></li>
        </ul>
    </li>
</ul>