<div class="panel callout">
    <h3>Product Features</h3>
    <ul>
        <li>Click and type editing</li>
        <li>Drag and drop uploading</li>
        <li>Designed for desktops, tablets, and phones</li>
        <li>Map</li>
        <li>Contact form</li>
        <li>Email*</li>
        <li>Custom domain name*</li>
    </ul>

    <a href="@Url.Action("Register", "Account")" class="button expand radius">
        <h3>Free Evaluation</h3>
        <h5>Register Now!</h5>
    </a>
</div>