<div class="row">
    <div class="small-4 columns">
        @Html.ActionLink("SBO Logo", "Index", "Home", new { area = "" }, new { id = "Logo" })
    </div>
    <div class="small-8 columns">
            
    </div>
</div>